body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(); */
  /* background: linear-gradient(
    90deg,
    rgba(247, 230, 230, 1),
    rgba(247, 230, 230, 0.5)
  );
  max-height: 100%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --font_default: "Lato";
  --color_primary_default: rgba(2, 5, 211, 1);
  --color_primary_default_rgb: 2, 5, 211;
  --color_primary_contrast_default: rgba(255, 255, 255, 1);
  --color_primary_contrast_default_rgb: 255, 255, 255;
  --color_text_default: rgba(9, 23, 71, 1);
  --color_text_default_rgb: 9, 23, 71;
  --color_surface_default: rgba(255, 255, 255, 1);
  --color_surface_default_rgb: 255, 255, 255;
  --color_background_default: rgba(255, 255, 255, 0);
  --color_background_default_rgb: 255, 255, 255;
  --color_destructive_default: rgba(255, 0, 0, 1);
  --color_destructive_default_rgb: 255, 0, 0;
  --color_success_default: rgba(23, 219, 78, 1);
  --color_success_default_rgb: 23, 219, 78;
  --color_alert_default: rgba(250, 181, 21, 1);
  --color_alert_default_rgb: 250, 181, 21;
}
